body {
    text-align: center;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 20px;
}

canvas {
    background-color: black;
    display: block;
    margin: auto;
    border: 2px solid white;
}
